.footer {
    display: flex;
    justify-content: space-between;
    padding-top: 92px;
    padding-bottom: 24px;
}

@media all and (max-width: 768px) {
    .footer {
        padding-top: 88px;
    }
}

@media all and (max-width: 320px) {
    .footer {
        padding-top: 64px;
        flex-direction: column;
        row-gap: 48px;
    }
}